html{
  scroll-behavior: smooth;
}
body {
  background: rgba(0, 0, 0, 0.925) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
body::-webkit-scrollbar{
  display: none;
}

header {
  color: white;
  margin: 0px;
  margin-right: auto;
  padding: 50px;
  height: 150px;
  width: auto;
  border-bottom: 1px solid rgb(255, 128, 0);
}

.txtwritting {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 7s steps(30, end), blink-caret 0.5s step-end infinite;
}

.p {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(255, 128, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  font-size: 2vw !important;
  font-style: bold;
  animation: typing 5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 128, 0);
  }
}

.container-fluid{
margin: 50px !important;
}

@media only screen and (max-width: 900px) {
 .p{
  font-size: 4vw !important;
 }
}

button{
  height: 5vh;
  margin: 10px;
  color: white !important;
  border: 1px solid rgb(255, 128, 0) !important;
  font-family: monospace !important;
  min-width: 85px;
  transition: all 0.5s !important;
  background-color: transparent;
  border-radius: 15px !important;
  width: 7rem !important;
}

button:hover{
  background-color: rgb(255, 128, 0) !important;
  transform: scale(1.3);
}
.test{
  background-color: aqua;
}

button:active{
  transform: scale(1);
}
.filler{

  height: 70vh;
}
#myBtn {
  
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}