body{
  background: black !important;
  margin: 0;
  padding: 0;
  width: 100vw !important;
}
header
{
  color: white;
  margin: 0px;
  margin-right: auto;
  padding: 50px;
  height: 150px;
  width: auto;
}
.txtwritting{
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 7s steps(30, end),
    blink-caret .5s step-end infinite;
}
.p{
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 1vw !important;
  animation: 
    typing 5s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

main{
position: relative; 
width: 100%;
}

.tile{
  padding: 20px;
  color: black;
}
.tile1 {
color: white !important;
animation-delay: 1.5s;
animation-fill-mode: forwards;
}
.tile2 {
animation: 5s colorSlide2;
animation-delay: 1.5s;
animation-fill-mode: forwards;
}
.tile3 {
animation: 5s colorSlide3;
animation-delay: 1.5s;
animation-fill-mode: forwards;
}
.tile4 {
animation: 5s colorSlide4;
animation-delay: 1.5s;
animation-fill-mode: forwards;
}
.tile5 {
  animation: 5s colorSlide5;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  }
.col{
  height: 250px;
  border: 1px solid white;
}
.container{
  width: 100%;
}
.d-flex {
display: flex;
align-items: center;
justify-content: space-between;
}


.moving-block {
  border-radius: 15px;
position: absolute;
left: 0;
top: 0;
height: 400px;
width: 210px;
background-color: rgb(247, 37, 37);
z-index:-1;
animation: 5s slide;
animation-delay: 0.5s;
animation-fill-mode: forwards;
margin-left: 30px;
}

@keyframes slide {

0% {
  left: 0%;
  background: red;
}

25%{
  left: 26%;
  background: blue;

}
50%{
  left: 52%;
  background: yellow;

}
75%{
  left: 75%;
  background: purple;
}
100%{
  left: 95%;
  background: purple;
  transform: translatex(-100%);
  
}


}

@keyframes colorSlide1 {

0% {
  color: white;
}
25%{
  color: white;
}
50%{
  color: white;

}
75%{
  color: white;
}
100%{
  color: white;
}
}
@keyframes colorSlide2 {

0% {
  color: black;
}
25%{
  color: white;
}
50%{
  color: white;

}
75%{
  color: white;
}
100%{
  color: white;
}
}

@keyframes colorSlide3 {

0% {
  color: black;
}
25%{
  color: black;
}
50%{
  color: white;

}
75%{
  color: white;
}
100%{
  color: white;
}
}

@keyframes colorSlide4 {

0% {
  color: black;
}
25%{
  color: black;
}
50%{
  color: black;

}
75%{
  color: white;
}
100%{
  color: white;
}
}

@keyframes colorSlide5 {

  0% {
    color: black;
  }
  25%{
    color: black;
  }
  50%{
    color: black;
  
  }
  75%{
    color: black;
  }
  100%{
    color: white;
  }
  }

  @media only screen and (max-width: 800px) {
    .p {
      font-size: 4vw !important;
    }
  }