body{
    background: black !important;
    margin: 0;
    padding: 0;
}
header
{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 50px;
    height: 150px;
}

main{
 padding-left: 50px;  
 position: relative; 
}

.tile1{
    height: 400px;
    
    border-radius: 15px;
    padding: 20px;
}
.col{
    height: 250px;
}
.d-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.moving-block {
    border-radius: 15px;
	position: absolute;
	left: 0;
	top: 0;
	height: 400px;
	width: 210px !important;
	background-color: rgb(247, 37, 37);
	z-index:-1;
	animation: 3s slide;
  animation-delay: 1.5s;
  margin-left: 50px;
}

@keyframes slide {

  0% {
    left: 0%;
    background: red;
  }

  25%{
    left: 25%;
    background: blue;

  }
  50%{
    left: 50%;
    background: yellow;

  }
  75%{
    left: 75%;
    background: purple;

    transform: translateX(-100%);
  }

}

